
@model  WebApplication10.Models.Date

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<form method="get">
<1text>Начальная дата</1text>
<input type="date" name="fistDate" />
    <text> Конченая дата</text>
    <input type="date" name="lastDate" />
    <input type="submit" value="send" />    

</form>