<!doctype html>
<html>
<head>
    <title> TestCase for company TiSS</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="wight=device-wight" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        function lastGet() {
            $.get('https://openexchangerates.org/api/latest.json', { app_id: 'bcf546b9a0ea43518b0cbcff6a43a1d6' }, function (data) {
                console.log(data);
            });
        }
    </script>
    <script>
        function period() {
            var query_vars = {
                app_id: 'bcf546b9a0ea43518b0cbcff6a43a1d6',
                start: '2012-01-01',
                end: '2012-01-31',
                base: 'AUD',
                symbols: 'BTC,EUR,HKD',
                prettyprint: 1
            }

            $.get('https://openexchangerates.org/api/time-series.json', query_vars, function (data) {
                console.log(data);
            });
        }
          
    </script>
</head>
<body>
    <text>USR</text>
    <form action="" method="get">
        Date: <input id="datatag" type="date" value="2018-07-02" name=" datalast" /><br />
        <input type="button" value="get" onclick="lastGet()" />
        <input type="button" value="per" onclick="period()" />

    </form>

</body>
</html>     